* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: black;
}

.mail{
	width: 500px;
    height: 550px;
    background: white;
    border-radius: 10px;
    margin: 30px auto;
    background-color: red;
    position: relative;	
}

.mail textarea{
	/*position: absolute;*/
	bottom: 0;
}

.boton-form{
	position: absolute; 
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;	
    font-size: 25px;
    padding: 7%;
}

